.cache/
.vscode/

# temporary files created by aggiestack.py CLI
.aggiestack/
aggiestack-log.txt   

# temporary files created by test/
tests/test.json

# env files created by setuptools
aggiestack.egg-info/
venv/